@charset "utf-8";

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}

/* 导航栏 */

.header_bottom {
	padding: 5px 0;
	background-color: #29B078;
}

.icon-bar {
	background-color: #696969;	
}

.navbar-right {
	padding: 0;
}

.navbar-right a:link,
.navbar-right a:visited {
	color: #FFF;
	background-color: #29B078;
	margin-bottom: 2px;
}

.navbar-right li a:hover {
	background-color: #29B078;
	border-bottom: 2px solid #FFF;
	margin-bottom: 0;
}

/* 页头 */

.logo {
	padding: 0 0 0 10px;
	margin: 0;
}

.topleft {
	height: 30px;
}

.toplefts {
	border-right: 2px solid #29B078;
}

.topleft a {
	display: inline-block;
	margin: 5px 0;
	float: right;
}

.htIMG {
	display: inline-block;
	text-align: right;
}

/* *面包屑导航* */

.miaobaob {
	margin-top: 10px;
	border-bottom: 1px solid #DDD;
	font-size: 16px;
}

.mianbao {
	background-color: #FFF;
	margin-bottom: 10px;
}

.mianbao li a:link,
.mianbao li a:visited {
	color: #000;
	border-bottom: none;
	text-decoration:none;
	font-weight: 700;
}

/* *标签选项* */

.tab1 {
	padding: 10px 20px 10px 28px;
	border-bottom: 1px solid #DDD;
	font-size: 15px;
}

.tab1 span {
	font-weight: 550;
}

.tab1 a{
	display: inline-block;
	padding: 10px 20px;
}

.tab1 a:link,
.tab1 a:visited {
	color: #000;
	border-bottom: none;
	text-decoration:none;
	font-weight: 500;
}

.tab1 a:hover {
	color: #FFF;
	border-bottom: none;
	text-decoration:none;
	font-weight: 500;
	background-color: #29B078;
}

/* *内容第一区 已选标签名称* */

.tab1Area .tab2Area .tab3Area .tab4Area .tab5Area {
	margin-bottom: 20px;
	padding: 5px;
}

.tab1-h {
	font-size: 15px;
	font-weight: 550;
}

.selfLabel {
	padding: 5px 20px 10px 28px;
	border-bottom: 1px solid #DDD;
}

.selfLabel h4 {
	display: inline-block;
	padding-top: 10px;
}

/* *内容第一区 主体内容 * */

.mediabottom {
	padding-bottom: 10px;
}

.media3M {
	padding: 0 20px;
}

.mediathree {
	margin: 5px 0px;
	padding: 0 5px 20px;
}

.box { 
	width:100%;
	height:100%;
	position:relative;
	background:rgba(255,255,255,1);
	cursor:pointer;
}

.box .bmbox { 
	width:100%;
	height:100%;
    background:rgba(0,0,0,0.3);
    position:absolute; 
    bottom:0px; 
    left:0px; 
    display:none;
    font:12px/30px "宋体"; color:white;
    text-align:center;
}

.box:hover .bmbox {
	width:100%;
	height:100%;
    background:rgba(0,0,0,0.3);
    position:absolute; 
    bottom:0px; 
    left:0px; 
    display:block;
    font:12px/30px "宋体"; color:white;
    text-align:center;
    padding: 25px;
}

.bmbox span {
	font-weight: 570;
	font-size: 17px;
}

.tab2-h3 {
	font-size: 16px;
}

.headh5 {
	margin: 10px;
	font-weight: 560;
	font-size: 17px;
}

.headh5 span {
	display: inline-block;
	margin: 5px;
}

.tab2-table {
	padding: 10px;
}

.tab2-tableBottom {
	padding-bottom: 5px;
}





/* *页脚* */

.footer {
	padding: 20px;
	background-color: #29B078;
}

.footer01 {
	color: #FFF;
	margin: 1px 5px 0;
	padding-bottom: 5px;
	background-color: #29B078;
	text-align: center;
}

.footerinfo {
	height: 40px;
	background-color: #29B078;
	border-top: 1px solid #FFF;
	color: #FFF;
	padding: 1px;
	margin: 1px;
	text-align: center;
}



/*没有小于768px，是因为Bootstrap3以移动端优先设计*/

/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
	.tab1 {
		font-size: 17px; /*18px 20px 22px 22px*/
	}
	.miaobaob {
		font-size: 18px;
	}
	.tab1-h {
		font-size: 17px;
	}
	.tab2-h3 {
		font-size: 18px;
	}
	.tab2-img {
		float: left;
	}
	.headh5 {
		font-size: 18px;	
	}
	.tab1-p {
		font-size: 16px; /*15px 16px 17px 18px*/
		text-align: center;
	}
	.tab2-p {
		font-size: 15px;		
	}
	.media3M {
		padding: 0 40px;
	}
	.tab3 {
		padding: 10px 60px 10px;
	}
	.mediatt {
		font-size: 16px;		
	}
	.friendshipLink li {
		font-size: 16px;		
	}
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
	.tab1 {
		font-size: 18px; /*18px 20px 22px 22px*/
	}
	.miaobaob {
		font-size: 19px; /*15px 16px 17px 18px*/	
	}
	.tab1-h {
		font-size: 18px;
	}
	.tab2-h3 {
		font-size: 20px;
	}
	.tab2-img {
		float: left;
	}
	.headh5 {
		font-size: 19px;
	}
	.media3M {
		padding: 0 60px;
	}
	.tab2-p {
		font-size: 16px;		
	}
	.friendshipLink li {
		font-size: 18px;		
	}
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
	.tab1 {
		font-size: 18px; /*18px 20px 22px 22px*/
	}
	.miaobaob {
		font-size: 19px; /*15px 16px 18px 18px*/
	}
	.tab1-h {
		font-size: 18px;
	}
	.tab2-h3 {
		font-size: 22px;
	}
	.tab2-img {
		float: left;
	}
	.headh5 {
		font-size: 21px;
	}
	.tab2-p {
		font-size: 18px;		
	}
	.media3M {
		padding: 0 80px;
	}
	.friendshipLink li {
		font-size: 19px;		
	}
}